<%- include("header.ejs") %>
<link rel="stylesheet" href="/css/about.css" />
<div class="mission">
  <div>
    <p>
      Daksh is the official techno-management fest<br />
      of Sastra University, Tanjore.
    </p>
    <p>Driven by the goal to learn and let learn.</p>
  </div>
  <img src="/images/mission.jpg" />
</div>
<div class="daksh20">
  <p>
    An engineer's identity gets embossed when they "Build Things that Matter".
    In order for this maxim to blend seamlessly with the real world we, team
    Daksh- The techno-management fest at SASTRA Deemed to be University, work
    every single day to provide platforms for those aspiring engineers to make
    their mark in the society.
  </p>
  <p>
    Through these 14 editions of Daksh, we have inspired thousands of students
    to do what they love through the art of implementation and practice. We plan
    to build a strong and robust platform for the young creative minds to
    express themselves and also give them an incubatory space for their
    intellect. We are immensely proud and elated to be able to play a fleeting
    yet impactful role in this revolution towards building a bright and
    propitious tomorrow.
  </p>
  <p
    style="
      margin-top: 70px;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    "
  >
    Daksh 2k20, as it happened
  </p>
  <iframe
    src="https://www.youtube.com/embed/altAziS1_Z4"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="video"
  ></iframe>
</div>
<%- include("footer.ejs") %>
