<div class="event d-flex justify-content-center align-items-center mb-5 animate__animated animate__fadeIn" style="border-radius: 25px; height: 100px; min-width: 300px; background: linear-gradient(90deg, #26C785 , #38EF7D); cursor: pointer;">
  <p style="font-size: 1.7em; font-weight: bold; margin-bottom: 0 !important; max-width: 80%; text-align: center;" class="text-align-center"><%= event %></p>
</div>

