<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daksh Techno-management Fest</title>
    <link rel="icon" href="/logo.png" />
    <meta name="description" content=" Daksh is the official techno-management fest of Sastra University, Thanjavur. Daksh has provided practical education through 14 editions of contructive events and workshops!" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div class="banner">
      <div id="particles-js"></div>
      <div class="container-fluid center nav_container">
        <nav class="nav">
          <a href="/" class="nav__logo center">
            <img src="/logo.svg" alt="" />
          </a>
          <ul class="nav__links">
            <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/events">Events</a></li>
            <li><a class="nav-link" href="/workshop">Workshops</a></li>
            <li class="blog"><a class="nav-link" href="https://medium.com/@promotions.daksh" target="blank">Blog</a><i class="fas fa-external-link-alt external-link"></i></li>
            <li><a class="nav-link" href="/other">Other</a></li>
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Other
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
          <div class="hamburger">
            <div class="hamburger_btn"></div>
          </div>
        </nav>
      </div>