<%- include("header.ejs") %>
<link rel="stylesheet" href="/css/home.css" />

<div class="center section animate__animated animate__fadeIn">
  <div class="banner__utsav">
    <img src="/date2.svg" alt="Date" width="50%" />
    <img class="banner__utsav_img" src="/Utsav2.svg" alt="Utsav" width="100%" />
    <!-- <div style="text-align: right">
      <img src="/connected.svg" alt="Connected" width="50%" />
    </div> -->
  </div>
</div>
<%- include("footer.ejs") %>
