<%- include("header.ejs") %>
<div class="vw-100 d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeIn" style="height: 85vh;">
  <img src="/images/triquetra.svg" alt="triquetra" class="w-25 mb-5">
  <p class="text-white" style="font-size: 2em;">Coming Soon</p>
</div>
<%- include("footer.ejs") %>
