<%- include("header.ejs") %>
<link rel="stylesheet" href="/css/events.css" />
<link rel="stylesheet" href="/css/workshop.css" />
<div class="workshop__section">
    <div class="workshop__card animate__animated animate__fadeIn">
        <h1 class="workshop__name">Full Stack Development</h1>
        <div class="workshop__info">
            <div class="workshop__information">
                <p><i class="far fa-calendar-alt"></i></p>
                <p>Nov 1</p>
            </div>
            <!-- <div class="workshop__information">
                <p><i class="far fa-clock"></i></p>
                <p>4 PM</p>
            </div> -->
            <div class="workshop__information">
                <p><i class="fas fa-rupee-sign"></i></p>
                <p>400</p>
            </div>
        </div>
        <div class="workshop__content">
            <p>Ever wondered why Netflix grew up to be a titan, when Blockbuster went irrelevant? Never heard of Blockbuster? Our point precisely! 
                The former utilised the power of the web, while the latter failed to update itself. Who do you want to be?</p>
        </div>
        <div class="workshop__register">
            <button id="workshop1">Know more</button>
        </div>
    </div>
    <div class="workshop__card animate__animated animate__fadeIn">
        <h1 class="workshop__name">Robotic Process Automation</h1>
        <div class="workshop__info">
            <div class="workshop__information">
                <p><i class="far fa-calendar-alt"></i></p>
                <p>Nov 1</p>
            </div>
            <!-- <div class="workshop__information">
                <p><i class="far fa-clock"></i></p>
                <p>4 PM</p>
            </div> -->
            <div class="workshop__information">
                <p><i class="fas fa-rupee-sign"></i></p>
                <p>400</p>
            </div>
        </div>
        <div class="workshop__content">
            <p>Wouldn't it be relieving to have a virtual assistant to perform long, mundane, repetitive tasks for us?
                What if it was possible to get the work of many employees done all at once? That too with minimal manual effort! </p>
        </div>
        <div class="workshop__register">
            <button id="workshop2">Know more</button>
        </div>
    </div>
    </div>
</div>
<div class="workshop-pop animate__animated animate__fadeIn" id="wpop1">
    <div class="event-details">
     <button class="event-close" id="wclose1"><i class="far fa-times-circle"></i></button>
        <div class="event-d-left">
            <div class="event-d-name">
                <!-- <h2 class="event-d-icon"><i class="fas fa-cogs"></i></h2> -->
                <h1>Full Stack Development</h1>
            </div>
            <!-- <div class="workshop__info">
                <div class="workshop__information">
                    <p><i class="far fa-calendar-alt"></i></p>
                    <p>Nov 1</p>
                </div>
                 <div class="workshop__information">
                    <p><i class="far fa-clock"></i></p>
                    <p>4 PM</p>
                </div>
                <div class="workshop__information">
                    <p><i class="fas fa-rupee-sign"></i></p>
                    <p>400</p>
                </div>
            </div> -->
            <div class="topics-c">
                <p style="font-weight: 700;">Topics Covered :</p>
                <p>- Creating and launching web pages<br>- Cascading Style Sheets(CSS)<br>- Node.JS<br>- MongoDB<br>- Introduction to React</p>
            </div>
            <div class="event-register">
                <a href="https://tinyurl.com/fullstack-utsav-2020" target="blank"><button>Register</button></a>
              </div>
        </div>
        <div class="event-d-right">
            <p class="event-d-info  workshop-d-info">Imagine a world without websites. It is beyond our wildest dreams! From binging your favourite shows to attending your classes online, we use websites daily for various purposes. Guess what, you’re in one right now! Welcome to the world of Full Stack Development.</p>
            <p class="event-d-info  workshop-d-info">In the new digital era thriving with internet connectivity, and with a pandemic making us more reliant on the web now than ever, join hands with us this Utsav to learn the intricacies of Full Stack Development. From creating enchanting designs in the front end to the diligent development of the back end, learn to be the jack of all trades and a master of a ton! </p>
            <div class="event-contact" style="justify-content: space-around;"> 
                <div>
                  <p>Yokesh</p>
                  <p>7639429822</p>
                </div>
                <div class="workshop-c-cont">
                  <p>Sindhuja</p>
                  <p>6303530122</p>
                </div>
                <div>
                    <p>Bhavana</p>
                    <p>9100197782</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="workshop-pop animate__animated animate__fadeIn" id="wpop2">
    <div class="event-details">
     <button class="event-close" id="wclose2"><i class="far fa-times-circle"></i></button>
        <div class="event-d-left">
            <div class="event-d-name">
                <!-- <h2 class="event-d-icon"><i class="fas fa-cogs"></i></h2> -->
                <h1>Robotic Process Automation</h1>
              </div>
            <div class="topics-c">
                <p style="font-weight: 700;">Topics Covered :</p>
                <p>- Streamline and Process Optimization<br>- Introduction to UIPath<br>- Understanding and  Building RPA logic<br>- RPA Implementation<br>- Testing Automated Processes</p>
            </div>
            <div class="event-register">
                <a href="https://tinyurl.com/rpa-utsav-2020" target="blank"><button>Register</button></a>
              </div>
        </div>
        <div class="event-d-right">
            <p class="event-d-info workshop-d-info">Robotic Process Automation (RPA) does exactly this! 
                You can transfer manual, sluggish, repetitive processes done by humans to a robot assistant that gets it done with zero errors and in lightning speed!</p>
            <p class="event-d-info  workshop-d-info">One cannot deny how automation has been influencing every corner in the world. RPA is one such type of software technology that mimics the activity of a human being in carrying out a task and can reduce processing costs by up to 80%. It works from desktop to clouds - which means connecting the workplace globally and freeing humans to do other tasks requiring emotional intelligence, reasoning, judgment, and interaction with the customer!</p>
            <div class="event-contact" style="justify-content: space-around;"> 
                <div>
                  <p>Madhu Charan</p>
                  <p>7730956678</p>
                </div>
                <div class="workshop-c-cont">
                  <p>Vyshnavi</p>
                  <p>9381118976</p>
                </div>
                <div>
                    <p>S Naveen</p>
                    <p>6304659891</p>
                </div>
              </div>
        </div>
    </div>
</div>
<%- include("footer.ejs") %>
